.bus_place {
  -background-color: lightgray;
  -border: #cde 1px solid;
}
    
.place_active {
  background-color: lightgreen;
  border: darkgreen 1px solid;
}

.place_warning {
  background-color: orangered !important;
  border: darkgreen 1px solid;
}

#bus {
 mar-gin: 10px calc( 50% / 2 );  
 border: none !important;
}

#bus table {
 border-collapse: unset;
 width: 100%;
}

#bus table td {
 vertical-align: top;
 padding: 10px
}

.bus-place-number-input {
 color: black;
 width: 20px;
 text-align: center;
 border: white 1px solid;
 background-color: lightgreen;
}

div.raw-places {
 display: none;
}