.table-schedule {
    width: 100%;    
}

.table-schedule-th {
    border: none;
    padding: 20px;
    text-align: left;
    font-weight: 600;
    min-width: 160px;
}
.table-schedule-th input{    
    margin: 0 5px;
}

.table-schedule > tbody > tr > td {    
    padding: 3px 5px;
    vertical-align: top;
    width: 16.66%
}

.table-schedule > tbody > tr > td div.warning {    
    background-color: #8d0a0a;    
}

/*.table-schedule > tbody > tr > td.hiden-while-initialisation {    
    visibility: hidden;
}*/

.table-schedule > tbody > tr > td i.fa {
    float: right;
    cursor: pointer;
    margin: 4px; 
    display: inline-table;
}
.table-schedule > tbody > tr > td i.fa-times {    

}

.table-schedule > tbody > tr > td i.fa-sitemap,
.table-schedule > tbody > tr > td i.fa-ruble, 
.table-schedule > tbody > tr > td i.fa-road,   
.table-schedule > tbody > tr > td i.fa-bus,
.table-schedule > tbody > tr > td i.rtype,
.table-schedule > tbody > tr > td i.fa-user,
.table-schedule > tbody > tr > td i.fa-h-square
{ 
    float: left;
    color: #77e977;
}

.table-schedule > tbody > tr > td i.rtype
{ 
    float: left;
    color: #FFFFFF;
}

.table-schedule > tbody > tr > td i.fa-save {
    display: none;
    float: left;
    margin: 4px 4px 0 0;
    color: orangered;
}
.table-schedule > tbody > tr > td.changed i.fa-save {
    display: inherit;
}

.table-schedule > tbody > tr > td i.fa-sitemap {
    color: orangered;
}
.table-schedule > tbody > tr > td i.fa-sitemap.active {
    color: #77e977;
}

.table-schedule > tbody > tr > td i.fa-bus {
    color: orangered;
    clear: both;
    -display: table-cell;
}
.table-schedule > tbody > tr > td i.fa-bus.active {
    color: #77e977;
}

.table-schedule > tbody > tr > td i.fa-dedent {
    margin: 0 4px;
    font-size: 20px;
    font-weight: normal;
}
.table-schedule > tbody > tr > td i.fa-dedent {
    color: orangered;
}
.table-schedule > tbody > tr > td i.fa-user {
    color: orangered; 
}
.table-schedule > tbody > tr > td i.fa-user.active {
    color: #77e977;
}

.table-schedule > tbody > tr > td span.time {    
    float: left;
    font-size: 22px;
    font-weight: normal;
    clear: both;
}
.table-schedule > tbody > tr > td span.time.active {    
    font-weight: bolder;
}

.table-schedule > tbody > tr > td span.reis {
    float: right;
    font-size: 14px;
    white-space: nowrap;
    padding: 0 4px 0 2px;
}

.table-schedule > tbody > tr > td span.carrier, 
.table-schedule > tbody > tr > td span.busname, 
.table-schedule > tbody > tr > td span.marshname, 
.table-schedule > tbody > tr > td span.drivername 
{    
    float: left;
    font-size: 12px;
    font-weight: lighter;
    clear: both;
    display: none;
    margin-left: 0px;    
    min-width: 80px;
}

.table-schedule > tbody > tr > td span.busname,
.table-schedule > tbody > tr > td span.marshname {
    clear: none;
    margin-top: 3px;
    -margin-left: 5px;
}

.bg-info {
    padding: 4px 12px !important;    
    margin: 0 2px;
}

@media screen and (max-width: 1300px) {
    
.table-schedule > tbody > tr > td span.reis {    
    padding: 0 4px 0 2px;    
    font-size: 12px;
}

.table-schedule > tbody > tr > td span.time {    
    float: left;
    font-size: 16px;
    font-weight: normal;
    clear: none;
}

.table-schedule > tbody > tr > td span.busname, 
.table-schedule > tbody > tr > td span.marshname, 
.table-schedule > tbody > tr > td span.drivername 
{    
    font-size: 12px;
    font-weight: lighter;
    -clear: both;
    display: none;
}

.bg-info {
    padding: 4px 9px !important;
}

} /*@media screen and (max-width: 1400px)*/




.table-schedule > tbody > tr > td span.reis.active {    
}

.table-schedule > tbody > tr > td span.sold {    
    float: right;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 7px;
    margin: 0 0;
    border-radius: 6px;
    display: none;
}
.table-schedule > tbody > tr > td span.sold.active {    
    display: block;
}

.table-schedule > tbody > tr > td span.busname.active,
.table-schedule > tbody > tr > td span.drivername.active {    
    display: inherit;
}

.table-schedule > tbody > tr > td span.carrier {
    float: left;
    font-weight: lighter;
    clear: both;
    display: none;
    margin-left: 0px;        
}

.table-schedule > tbody > tr > td span.busname.active,
.table-schedule > tbody > tr > td span.marshname.active,
.table-schedule > tbody > tr > td span.carrier.active {
    font-weight: lighter;
    display: initial;    
}

.table > tbody > tr > td {
    vertical-align: middle;    
}

.table > tbody > tr > td.ticket-place,
.table > tbody > tr > td.ticket-status--1,
.table > tbody > tr > td.ticket-status-0,
.table > tbody > tr > td.ticket-status-1,
.table > tbody > tr > td.ticket-status-2 {
    border-radius: 3px;    
    width: 40px;
    text-align: center;
}
.table > tbody > tr > td.ticket-place {
	font-size: 20px;
	font-weight: bold;
	color: slategray;
}
.table > tbody > tr > td.ticket-status--1 {
}
.table > tbody > tr > td.ticket-status-2 {
}
.table > tbody > tr > td.ticket-status-15 {
}
.table > tbody > tr > td.ticket-status- {
    background-color: lightgreen;
}
.table > tbody > tr > td.ticket-status-0 {
    background-color: #efef25;  
}
.table > tbody > tr > td.ticket-status-1 {
    background-color: #ff6600;  
}

.reis-container {
    clear: both;
    padding: 10px;
    overflow: hidden;
    font-weight: normal;
    color: white;
    background-color: #26A69A;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.icons-container {
    float: left;
}
.buttons-container {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.my-submenu {
    left: 35px !important;
}
.my-submenu-max-content {
    left: 35px !important;
    min-width: max-content !important;
}
