#config {
    min-width: calc( 120px * 7 );    
}

.table-schedule {
    width: calc( 100% + 60px );
    margin: -15px -30px;
}

.table-schedule-th {
    border: 1px solid #bce8f1;
    padding: 5px;    
    text-align: left;
    background-color: #d9edf7;    
    min-width: 120px;
}

.table-schedule-th input{    
    margin: 0 5px;
}

.table-schedule >tbody > tr > td{    
    padding: 10px;
    background-color: #c6dee9;
    border: 2px solid white;    
    border-top: 3px white solid;
    border-bottom: 3px solid white;
    vertical-align: top;
    border-radius: 6px;
    min-width: 120px;
}

.table-schedule >tbody > tr > th.cog,
.table-schedule >tbody > tr > td.cog {    
    min-width: 20px;
    width: 20px;
}

.table-schedule >tbody > tr > td.changed {
    background-color: lightpink;
}

.table-schedule >tbody > tr > td > i.fa {
    float: left;
    cursor: pointer;
    margin: 0 2px; 
    color: gray;
}
.table-schedule >tbody > tr > td > i.fa.active,
.table-schedule >tbody > tr > td > i.fa-toggle-on {
    color: green;
}

.table-schedule >tbody > tr > td > i.fa.toggle,
.table-schedule >tbody > tr > td > i.fa.manual,
.table-schedule >tbody > tr > td > i.fa.manual-start {
    float: right;
}
.table-schedule >tbody > tr > td > i.fa-sitemap.no-costs {
    color: orangered;
}

.table-schedule >tbody > tr > td > i.fa-bus.no-bus {
    color: orangered;
}

.table-schedule >tbody > tr > td > span.time {    
    clear: both;
    float: left;
    font-size: 14px;
    color: gray;
    font-weight: normal;
}
.table-schedule >tbody > tr > td > span.time.active {    
    color: darkcyan;
    font-weight: bolder;
    font-size: 16px;
}

.table-schedule >tbody > tr > td > span.busname {
    color: gray;
    float: left;
    font-size: 12px;
    font-weight: lighter;
    clear: both;
    margin-left: 0px;    
}

.table-schedule >tbody > tr > td > span.has-changes {    
    float: left;
    font-size: 12px;
    color: lightgray;
    font-weight: lighter;
    clear: both;
    display: none;
    margin-left: 0px;    
}
.table-schedule >tbody > tr > td > span.busname.active,
.table-schedule >tbody > tr > td.changed > span.has-changes {    
    color: gray;
    font-weight: lighter;
    display: inherit;
}
