input.cls-name, 
input.cls-cost {
    width: 40px;
    border: none;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    margin-right: 5px;
    padding: 0 5px;
}
input.cls-name {
    width: calc(100% - 150px);
}

input.cls-cost {
    width: 40px;
}