.form-control.typehead {
    width: calc(100% - 240px - 41px - 26px);
}

.editable-container div.input-group .btn-sm {
    padding: 0px 4px;
    font-size: 13px;
    border-radius: 3px !important;
    margin-left: 2px;
}

.editable-container div.input-group .btn-sm:hover {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
    color: #eee;
}

/*
    Выпадающий список (если меньше 1050, то попадает под modal)
*/
ul.ui-autocomplete.ui-front {
    z-index: 10010;
}