form div.row {
    padding-top: 5px;
}
form div.row-submit {
    padding-top: 20px;
}
form div.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
input.btn.right {
    float: right;
    margin-left: 5px;
}
div.bus-form {
    display: none;
}

span.pull-right {
    margin-left: 5px;
    cursor: pointer;
    color: #2aabd2;
}
span.pull-right:hover {
    cursor: pointer;
    color: #007fff;
}
span.pull-right.btn-xs {
    color: #fff;
}
span.pull-right i.fa {
    padding-top: 3px;
}
td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
td.clickable {
    text-align: center;
    cursor: pointer;
    background-color: #f4f8f8;
    border: 1px solid #e6e3db;
}
td.clickable:hover {
    text-align: center;
    cursor: pointer;
    background-color: #e8f3f3;
}
td.editable, th.editable {
    cursor: pointer;
    background-color: #e8f3f3;
    border: 1px solid #e6e3db;
}
td.editable:hover, th.editable:hover {
    text-decoration: underline;
    cursor: pointer;
}
.full-width-input {
    width: calc( 100% - 2 * 60px );
    min-width: 100px;
    line-height: normal;
    font-size: 12px;
    color: gray;
    border: 1px solid #f5e5e5;
    background-color: #f9f3f3;
}
.bus-config:hover {
     text-decoration: underline;
}
/* ============ Disabled tab point ============ */
li[aria-disabled=true] > a {
    cursor: not-allowed;
}
.no-scheme {
    text-align: center;
    font-size: 18px;
}
