form div.row {
    padding-top: 5px;
}
form div.row-submit,
form div.row-file
{
    padding-top: 25px;
}
input.btn.right {
    float: right;
    margin-left: 5px;
}
td.right {
    text-align: right;
}

.my-control {
    height: 30px;
    padding: 6px 12px;
    font-size: 13px;
    margin: 2px 0;
    display: initial;
    min-width: 150px;
    width: calc(100% - 56px) !important;
}

div.panel-body button {
    margin-left: 5px;
    border-radius: 6px;
    font-size: 13px;
    border:none;
}

div.my-ver-cen {
    padding-top: 6px;
}
div.my-label {
    text-align: right;
    padding-right: 0px;
}
