td, th {
    font-size: 12px;
}

.table-condensed > tbody > tr.video > td {
    padding-bottom: 30px !important;
}

div.table-row {
   display: table;
}

div.table-row div.cell-player{
   display: table-cell;
   width: 600px;
   float: none;
}

div.cell-info{
   display: table-cell;
   vertical-align: bottom;
   float: none;
   padding: 20px 10px;
}

span.glyphicon {
    cursor: pointer;
}

table.gbc-details td, table.gbc-details th {
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: -3px;
}
