.btn-add-item, .btn-add-group, .btn-save-changed, .btn-cancel-change, .btn-edit-change {
    cursor: pointer;
}
.btn-add-item {
    color: #2aabd2;
}
.btn-add-group {
    color: #5e55ea;
}
.btn-add-item:hover, .btn-add-group:hover {
    cursor: pointer;
    color: #007fff;
}
small {
    font-size: 12px;
    font-weight: normal;    
}
.full-width-input {
    width: 90%;    
    line-height: normal;
    font-size: 12px;
    color: gray;
    border: 1px solid #f5e5e5;
    background-color: #f9f3f3;
}
span.pull-right {
    margin-left: 5px;
}
input[type="checkbox"] {
    border: white !important;
}
.table-condensed > tbody > tr > td, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > td, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > thead > tr > th {    
    font-size: 11px;
}

.btn-group-xs > .btn, .btn-xs {
    font-size: 10px;
    line-height: 1.5;
}

td.type-checkbox {
    text-align: center;
    font-weight: bolder;
    width: 50px
}

tr.group-heading th {
    background-color: #f5f5f5;
}

td span.label {
    font-size: 11px;
    font-weight: normal;
}

td.not-editable {
    font-weight: bold;
}

td.up-down > span {
    cursor: pointer;
}

td.up-down > span:hover {
    opacity: 0.7;
}