.dropdown-menu {
 right:0  !important; 
 left:auto !important;   
}
.dropdown-menu > li {
    margin-bottom: 10px !important;
}
span.btn-xs {
    line-height: 1 !important;
    width: 25px !important;
    height: 23px !important;
    padding: 0;
}
span.pull-left {
    margin-right: 5px;
    cursor: pointer;
    color: #2aabd2;
}
span.pull-left.btn-xs {
    color: #fff;
    text-align: center;
}
span.btn-xs span {
    padding: 4px !important;
}
.menu-label {
    margin-right: 20px;
}
span.btn-xs span.fa {
    font-size: 16px;
    vertical-align: middle;
    top: -1px;
}



.fc-day-grid-event .fc-time {
    float: left !important;
    padding-right: 5px !important;
    padding-left: 0px !important;
    font-weight: bold !important;
    width: 30px;
}

.fc-day-grid-event .back-reis-event {
    color: whitesmoke !important;
}
.fc-day-grid-event .chartered-event {
    color: lightgreen !important;
}

.ticket-sell-content .btn {
    padding: 2px 5px;
    font-size: 13px;
}
.ticket-sell-content .form-control {
    padding: 5px;
    font-size: 12px;
    height: 26px;
}

.ticket-sell-content .cls-place {
    padding-left: 9px;
}

.cost-input {
	width: 50px;
	padding: 1px;
	border: 1px gray solid;
	border-radius: 4px;
	margin: 3px;
        -margin-left: 20px;
	text-align: center;
}

td#citys-to, td#citys-from {
    vertical-align: top;
}

td span.w_20 {
    width: 20px;
    display: inline-block;
    -border: 1px solid;
    text-align: right;    
}