.cost-input {
    width: 50px; 
    padding:1px;     
    border:1px gray solid; 
    border-radius: 4px;
    margin: 3px;
    text-align: center;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: underline;
}
td.center, th.center {
    text-align: center;
}

#citys-from, #citys-to {
    vertical-align: top !important;
}