.btn-add-role, .btn-save-changed, .btn-cancel-change, 
.btn-cog, .btn-save-setup, .btn-cancel-setup {
    cursor: pointer;
    position: sticky;
    top: 10%;
}
.btn-add-role {
    color: #2aabd2;
}
.btn-add-role:hover {
    cursor: pointer;
    color: #007fff;
}
small {
    font-size: 12px;
    font-weight: normal;    
}
.full-width-input {
    width: 90%;    
    line-height: normal;
    font-size: 12px;
    color: gray;
    border: 1px solid #f5e5e5;
    background-color: #f9f3f3;
}
span.pull-right {
    margin-left: 5px;
}
input[type="checkbox"] {
    border: white !important;
}
.table-condensed > tbody > tr > td, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > td, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > thead > tr > th {    
    font-size: 11px;
}

.btn-group-xs > .btn, .btn-xs {
    font-size: 10px;
    line-height: 1.5;
}

td.type-checkbox {
    text-align: center;
    font-weight: bolder;
    width: 50px
}

tr.group-heading th {
    background-color: #f5f5f5;
}

td span.label {
    font-size: 11px;
    font-weight: normal;
}

td.not-editable {
    font-weight: bold;
}

td.center, th.center {
    text-align: center;
}

tr.grayRow {
    background-color: #EDEDED;
}
tr.role-setup-row > td:last-child
{
    vertical-align: top;
}