td.center, th.center {
    text-align: center;
}
.form-control {
    margin-top: 5px;    
}

form div.row-submit {
    padding-top: 25px;
}
input.btn.right {
    float: right;
    margin-left: 5px;
}
#drv-schedulers-form {
    display: none;
}

span.pull-right {
    margin-left: 5px;
    cursor: pointer;
    color: #2aabd2;
}
span.pull-left {
    margin-right: 5px;
    cursor: pointer;
    color: #2aabd2;
}
span.pull-right:hover {
    cursor: pointer;
    color: #007fff;
}
span.pull-left:hover {
    cursor: pointer;
    color: #007fff;
}
span.pull-right.btn-xs {
    color: #fff;
}
span.pull-left.btn-xs {
    color: #fff;
}
span.pull-right i.fa {
    padding-top: 3px;
}
span.pull-left i.fa {
    padding-top: 3px;
}
td.right {
    text-align: right;
}
table.table-condensed > tbody > tr > th,
table.table-condensed > tbody > tr > td {
    font-size: 13px;
}
.dropdown-menu {
 right:0 !important; 
 left:auto !important;   
}
.dropdown-menu > li > div {
    padding: 5px;
    text-align: center;
}
.dropdown-menu > li > div > input {
    font-size: 11px;
}
.dropdown-menu > li > div > .send-to-email-ok {
    font-size: 11px;
    width: 50px;
    padding: unset;
    margin-top: 10px;
}

.menu-label {
    margin-right: 20px;    
}
.red {
    color: red !important;
}
.nocursor {
    cursor: default !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: underline;
}

.cost-input {
	width: 50px;
	padding: 1px;
	border: 1px gray solid;
	border-radius: 4px;
	margin: 3px;
	text-align: center;
}
.universal-closer {
	float: right;
	margin: -33px -5px;
	cursor: pointer;
	padding: 0;	
	background: 0 0;
	border: 0;
	font-size: 34px;
	font-weight: lighter;
}

tr.tr-form {
    padding: 15px;
    background-color: lemonchiffon;
}

tr.editing {
    background: goldenrod;
    font-weight: 600;    
}

#citys-from, #citys-to {
    vertical-align: top !important;
}

/* подсказка мастера добавления */

div.span_dt {
    text-align: center;
    margin: 15px 0 30px 0px;
    padding: 10px 0 0 0;
    border-top: 3px solid #fbd0d0;
    position: relative;
    display: inline-block;
    width: 160px;
}
.span_dt:first-child {
    text-align: left;
}
div.span_dt:nth-child(3) {    
    width: 310px;
}
div.span_dt:last-child {
    text-align: right;
    width: 280px;
}

.span_dt:nth-child(1)::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    top: -14px;
    border: 12px solid transparent;
    border-left-color: #fbd0d0;
    z-index: 2;
}
div.span_dt:nth-child(2)::before {
    content: "";
    background: #fbd0d0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    left: 50%;
    position: absolute;
    margin-left: -10px;
    top: -9px;
    z-index: 1;
}

div.span_dt:nth-child(1)::after,
div.span_dt:nth-child(2)::after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc( 100% + 5px );
    left: 0;
    background: gray;
    top: -4px;
}

div.span_dt:nth-child(3)::before {
    content: "";
    background: gray;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    left: 50%;
    position: absolute;
    margin-left: -5px;
    top: -7px;
    z-index: 1;
}

div.span_dt:nth-child(3)::after {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    top: -4px;
    background: gray;
    height: 5px;
}
div.span_dt:nth-child(4)::before {
    content: "";
    position: absolute;
    right: 0;
    top: -7px;
    width: 3px;
    height: 11px;
    background: #fbd0d0;
}

input[name="dt-begin"],
input[name="dt-first"],
input[name="interval-days"],
input[name="dt-end"]
{
    display: inline-block;
    text-align: center;
}

/* Календарь в подсказке мастера */
div.span_dt div.picker.picker--opened {
    width: 280px;
}

#table-body tr td {
    vertical-align: top;
}

#citys-to tr > td {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;    
}
#citys-to thead > tr > td:nth-child(even) {
    background-color: #cdecde;
}
#citys-to tbody > tr > td:nth-child(odd) {
    background-color: #cdecde;
}
#citys-to tbody > tr > td:nth-child(1) {
    text-align: left;
}
#citys-to tr {
    border-bottom: 1px solid #ddd;
}