.dropdown-menu {
 right:0  !important; 
 left:auto !important;   
}
.dropdown-menu > li {
    margin-bottom: 10px !important;
}
span.btn-xs {
    line-height: 1 !important;
    width: 25px !important;
    height: 23px !important;
    padding: 0;
}
span.pull-left {
    margin-right: 5px;
    cursor: pointer;
    color: #2aabd2;
}
span.pull-left.btn-xs {
    color: #fff;
    text-align: center;
}
span.btn-xs span {
    padding: 4px !important;
}
.menu-label {
    margin-right: 20px;
}
span.btn-xs span.fa {
    font-size: 16px;
    vertical-align: middle;
    top: -1px;
}



.fc-day-grid-event .fc-time {
    float: left !important;
    padding-right: 5px !important;
    padding-left: 0px !important;
    font-weight: bold !important;
    width: 30px;
}


.ticket-sell-content .btn {
    padding: 0px 3px;
    font-size: 11px;
}
.ticket-sell-content .form-control {
    padding: 0;
    font-size: 12px;
    height: 20px;
}

.ticket-sell-content .cls-place {
    padding-left: 4px;
}



#modal-sell.panel {
    margin-bottom: 3px;
}
#modal-sell .panel-body {
    padding: 10px;
}
#modal-sell .modal-body {	
    padding-bottom: 0;
}
#modal-sell .panel-heading {
    padding: 0 20px;
}
#modal-sell #doc-num-example {
    padding: 0 10px;
}
#modal-sell h5 {
    font-size: 14px;
    font-weight: bold;
}
#modal-sell input.form-control {
    padding: 0 5px;
}