#filter-form {
    color: black;
}
#filter-form input {
    text-align: center;
    width: 100px;
}



#points-table-body .nowrap {
    white-space: nowrap;
}

#points-table-body span.glyphicon {
    cursor: pointer;
}

/*.right {
    float: right !important;
}    */
/*.panel-heading-correct {
    -padding: 0 0 23px 0; 
    -margin-bottom: 2px;    
}
.form-control-correct {
    height: 22px !important;
}
.input-group-addon-correct {
    height: 22px !important;
    padding: 0px 5px !important;
    font-size: small !important;
}
span.glyphicon,
span.filter-date,
span.filter-submit,
span.filter-today {
    cursor: pointer;
}

.form-control.cls-phone {
    width: calc(100% - 240px - 41px);    
}

div.panel-body button {
    margin-left: 5px;
    border-radius: 6px;
    border:none;
}

.btn-group {
    border: 1px groove;
    border-style: outset;
    border-radius: inherit;   
}
table.table-condensed tbody tr.gray {
    background-color: #f4f4f4;
}*/