#filter-form {
    color: black;
}
#filter-form input {
    text-align: center;
    width: 100px;
}
#filter-form > span {    
    color: white;
}
#filter-form > button {    
    padding: 1px 5px 2px 5px;
}

tr.bold th {
    font-weight: bolder;
}

td.inf {
    width: 50px;
    text-align: center;
    font-weight: bold;
}
td.inf-1 {
    width: 126px;
    text-align: center;
    font-weight: bold;
}
td.fio {
    width: 200px;
}