form div.row {
    padding-top: 5px;
}
form div.row-submit {
    padding-top: 20px;
}
form div.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
input.btn.right {
    float: right;
    margin-left: 5px;
}
div.edit-form {
    display: none;
}

span.pull-right {
    margin-left: 5px;
    cursor: pointer;
    color: #2aabd2;
}
span.pull-left {
    margin-right: 5px;
    cursor: pointer;
    color: #2aabd2;
}
span.pull-right:hover {
    cursor: pointer;
    color: #007fff;
}
span.pull-left:hover {
    cursor: pointer;
    color: #007fff;
}
span.pull-right.btn-xs {
    color: #fff;
}
span.pull-left.btn-xs {
    color: #fff;
}
span.pull-right i.fa {
    padding-top: 3px;
}
span.pull-left i.fa {
    padding-top: 3px;
}

td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
span.nowrap {
    white-space: nowrap;
}
.dropdown-menu {
 right:0  !important; 
 left:auto !important;   
}
.dropdown-menu > li > div {
    padding: 5px;
    text-align: center;
}
.dropdown-menu > li > div > input {
    font-size: 11px;
}
.dropdown-menu > li > div > .send-to-email-ok {
    font-size: 11px;
    width: 50px;
    padding: unset;
    margin-top: 10px;
}

.menu-label {
    margin-right: 20px;    
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: underline;
}

.cost-input {
	width: 50px;
	padding: 1px;
	border: 1px gray solid;
	border-radius: 4px;
	margin: 3px;
	text-align: center;
}
.universal-closer {
	float: right;
	margin: -33px -5px;
	cursor: pointer;
	padding: 0;	
	background: 0 0;
	border: 0;
	font-size: 34px;
	font-weight: lighter;
}
tr.tr-form {
    padding: 15px;
    background-color: lemonchiffon;
}

tr.editing {
    background: goldenrod;
    font-weight: 600;    
}

#citys-from, #citys-to {
    vertical-align: top !important;
}

.ul-msg {
    color:red;
    list-style: none;
    padding: 5px;
}
.red {
    color: red !important;
}
.nocursor {
    cursor: default !important;
}
