.popover h3{
    display: block !important;
}
.fc-day-grid-event {
    margin: 0 1px 1px 1px !important;
    padding: 0 0 0 2px !important;
}
.popover {
    min-width: 250px !important;
    max-width: none !important;
    z-index: 10000 !important; 
}
.fc-day-grid .fc-row {
    z-index: auto !important; 
}
.popover-content table{    
    width: auto !important;
}
.popover-content table tr td{
    white-space: nowrap !important;    
}
.popover-title {
    white-space: nowrap !important;
}
div.fc-row:hover {
   z-index: 5 !important;
}
.fc-event-container .popover {
   pointer-events: none !important; 
}
.fc-event {
    font-size: inherit !important;
    line-height: inherit !important;
}
.dropdown-header {
    margin-top: -7px !important;
}
.dropdown-menu > li > a {
	padding: 0 10px !important;
}

.calendar-error-icon {
    color: red;
    float: right;
    margin-top: -12px !important;
    margin-right: 1px !important;
    background-color: rgb(77, 182, 172);
    z-index: 100;
    top: -4px !important;
    font-size: 13px !important;
}
/*.fc-title.error-event {
    --padding-right: 60px !important;
}

.fc-title.error-event:after {
    -content: ' \e9bd\ea71' !important;
    content: '';
    content: attr(data-content) !important;
    color: red !important;    
    font-family: 'icomoon' !important;    
    float: right !important;
    margin-top: -21px !important;
    margin-right: 5px !important;    
}
*/
/*.fc-title.payment-event {
    padding-right: 25px !important;
}

.fc-title.payment-event:after {
    content: '\ea71' !important;
    color: red !important;    
    font-family: 'icomoon' !important;    
    float: right !important;
    margin-top: -21px !important;
    margin-right: 5px !important;    
}*/

.fc-toolbar h2 {
    margin: 5px 0 0 5px !important;
    font-size: 17px !important;
    text-transform: capitalize !important;
}
.fc-state-hover {
    background-position: 0px !important;
    opacity: .6 !important;
    text-decoration: underline !important;
}
.fc button {
    margin-top: 5px !important;
}

.fc-basic-view .fc-body .fc-week {
    min-height: 400px !important;    
}

.fc-month-view .fc-body .fc-week {
    min-height: unset !important;    
}

a.closed {
    text-decoration: line-through;
    opacity: 0.5;
}
a.bid {
    background-color: #4FC3F7 !important;
}
a.pink-bid {
    background-color: #E91E63 !important;
    color: whitesmoke !important;
}
a.purple-bid {
    background-color: #673AB7 !important;
    color: whitesmoke !important;
}
a.warning-bid {
    background-color: #FF5722 !important;
    color: whitesmoke !important;
}
a.teal-bid {
    background-color: #009688 !important;
    color: whitesmoke !important;
}
a.on-the-way {    
    opacity: 0.7;
}