/*
    Классы контролов в формах, которые отсутствуют в библиотеке...
*/
select, input[type="checkbox"] {
    box-shadow: none;
    -height: 42px;
    padding-left: 15px;
    border: 1px solid #ddd;
    background: #f2f2f2;
    font-size: 13px;
    transition: .2s;
}
select, input[type="checkbox"] {
    border: 1px solid #444;
    color: #fff;
    background-color: #343434;
}
select {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearancce: none !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    background-size: 1ex !important;
    background-origin: content-box !important;
    background-image: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
      <polygon points='0,0 60,0 30,40' style='fill:darkgray;'/> \
    </svg>") !important;    
}
input[name^="captcha"]{
    margin-top: 10px;
    width: 100%;
}
.form-control::-moz-placeholder {
    color: #5c5c5c;
    opacity: 1;
}
/*
    Footer normal font case
*/
.footer .top-footer .menu ul li a, 
.footer .top-footer .menu ul li span,
.facts-footer > div span {
    text-transform: none;
}
/*
    Сообщения об успехах и ошибках
*/
.output_message {
    padding: 8px;
    margin-bottom: 17px;
    border-radius: 2px;
    color: #fff;
    border-radius: 40px;
    font-weight: normal;    
    font-size: 16px;    
}
.output_message.head {
    text-transform: uppercase;    
}

.output_message.left {
    text-align: left;
}

.output_message.success {
    background: #28a745;
    padding: 15px;
}
.output_message.error {
    background: #dc3545;
    padding: 15px;
}
.output_message.info {
    background: #ff7e00;
    padding: 15px;
}

.output_message.success > .head::before {
    font-family: FontAwesome;
    content: "\f14a";
    padding-right: 10px;
}
.output_message.error > .head::before {
    font-family: FontAwesome;
    content: "\f071";
    padding-right: 10px;
}
.output_message.info > .head::before {
    font-family: FontAwesome;
    content: "\f075";
    padding-right: 10px;
}
.my_message {
    display: none;
}
.my_message.visible {
    display: block;
}

p.justify {
    text-align: justify;
}

/*
    custom button on form
*/
.custom-button.pay:before {
  content: "\f07a";
}
.custom-button.reload:before {
  content: "\f021";
}
.custom-button.register:before {
  content: "\f234";
}
.custom-button.login:before {
  content: "\f084";
}
.custom-button.account:before {
  content: "\f19c";
}
.custom-button.credit-card::before {
  content: "\f09d";
}
.custom-button.trash::before {
  content: "\f014";
}
.custom-button {
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.custom-button:hover {
    background-color: #02813a;
    opacity: .85;
}
.custom-button[disabled] {
    opacity: .2;
    cursor: no-drop;
}

li.form-error-msg {
    list-style: none;
    color: #dc3545;
}
/* 
    блокирующий слой - индикатор в аккаунте
*/

 #load-indicator {
    display: none;
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
}

#load-indicator:after {

    content: '';
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -32px;
    background: url(/img/loader_big.gif);
}

/* 
    блокирующий слой - индикатор на фронте
*/

 #load-indicator-front {
    display: none;
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
}

#load-indicator-front:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    background: url(/amira/img/preloaders/preloader-green-dark.svg);
}

.text {
    color: #333333 !important;
    font-weight: normal;
}
.paragraf {
    color: #333333 !important;
    font-weight: bold;
}
.paragraf ol li{
    text-align: justify !important;
    font-weight: normal;
}

.ui-dialog-titlebar-close::after {
    content: "\2715";
    font-family: FontAwesome;
    /* font-size: 10px; */
    margin-top: -10px;
    /* padding: 0; */
    position: absolute;
    margin-left: -6px;
}


@media(max-width:3840px) {

    .mobile-only {
        display: none;
    }    
    
} /* media */

@media(max-width:770px) {

    .mobile-only {
        display: inline-block;
    }
    .non-mobile-only {
        display: none !important;
    }

    input[type="checkbox"] {
        transform:scale(1.5);
        -opacity:0.9;
        cursor:pointer;
        margin: 10px;
    } 
    
    .ui-dialog {
        left: 0 !important;
        width: 100% !important;
    }    
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: none;
    }    
} /* media */

.button.yellow-button {
    background-color: #ffcc33;
    color: #333333 !important;
}
.button.yellow-button span {    
    color: #333333 !important;
}

.nowrap {
    white-space: nowrap;
}

@media(max-width:3840px) {   
    div.rt-link {
        font-size: 18px;                
    }
    div.rt-link.inline-block{
        font-size: 16px;
        margin-right: 15px;                
        display: inline-block;
    }
}  /* media */

@media(max-width:770px) {       
    div.rt-link {
        font-size: 20px;        
        padding-top: 10px;
    }
    div.rt-link.inline-block{
        font-size: 20px;
        margin: 0;                
        display: block;
    }    
}  /* media */

.social-icons ul li a[title="vk"]:before {
  content: "\f189";
}

.buttons-container {
    min-width: 70px;
}