.pointer {
    cursor:pointer;
}
h2 {
    font-size: 24px !important;
    line-height: 24px !important;
    font-weight: normal !important;
}
.offset-header {
    margin-left: 30px;
}
p.widget {
    padding: 0 !important;
    margin: 5px 0 !important;
    line-height: 1.5 !important;
    font-size: 14px !important;
}
p.widget span.widget-label {
    display: inline-block;
    font-weight: bold;
    width: 110px;
}
p.widget span.widget-text {
    display: inline-block;
    font-weight: normal;    
}

div.row.widget-row {
    margin-bottom: 20px;
}

a[name='select-city'].selected {
    border: 1px solid #009240; 
    background-color: #009240;
    color: #fff;
}

.map {
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;    
}