@media(max-width:3840px) {   
    table.search-result-table tbody > tr > td:last-child {
        width: 160px;    
    }            
}  /* media */

@media(max-width:770px) {       
    table.search-result-table tbody tr td {
        width: 100%;    
        display: block;        
    }
    table.search-result-table tbody tr {        
        display: table;
        width: 100%;
    }
    table.search-result-table tbody > tr > td:last-child {
        width: 100%;
        text-align: center;
    }        
    table.search-result-table tbody > tr.reis-detail > td {
        width: 100%;    
        text-align: left;        
    }    
    table.search-result-table div.button {
        margin-bottom: 10px;
        display: inline-block;
        float: none !important;
    }
}  /* media */

.mobile-label {
    padding-right: 5px;
    min-width: 125px;
}

input.icon-mail + span::before {
    content: "\2709";
}
input.icon-ok + span::before {
    content: "\2714";
}
input.icon-search + span::before {
    content: "\f002";
}

/*
    Таблица - результат поиска билетов
*/

table.search-result-table {
    color: whitesmoke;
    border-collapse: collapse;
    margin-top: 20px;    
}
.table.search-result-table > thead,
.table.search-result-table > tfoot {    
    display: none;
}
.table.search-result-table > thead th {    
    font-weight: lighter;
    color: #999;
    background-color: #292929;
}

.table.search-result-table > tbody {
    border: none;
}

table.search-result-table tbody tr:first-child td:not(:last-child) {
    cursor: pointer;
}
.table.search-result-table > tbody.active,
.table.search-result-table > tbody:hover {    
    outline: 2px solid darkolivegreen;  
    outline-offset: -2px;
    background-color: #111;
    opacity: 0.85;
}
table.search-result-table tbody:nth-child(even) {
    background-color: #292929;
}
table.search-result-table tbody:nth-child(odd) {
    background-color: transparent;
}
table.search-result-table .time {
    font-weight: bold;
    font-size: 20px;
}
table.search-result-table .city {
    font-weight: normal;
    margin-right: 5px;
}    
table.search-result-table .point {
    font-weight: normal;
    color: #999;
}    
table.search-result-table .cost {
    font-weight: bold;
    font-size: 20px;    
}
table.search-result-table .cost:after {
    content: " \f158";
    font-family: FontAwesome;
    font-size: 14px;  
    white-space: nowrap;
}

table.search-result-table .duration,
table.search-result-table .places
{
    color: #999;
}
table.search-result-table .duration span:not(:first-child):before {
    content: "";
    -margin: 0 4px;
}

table.search-result-table .places span:not(:first-child):before {
    content: "-";
    margin: 0 4px;
}

table.search-result-table div.button {
    border: 2px solid #009240;
    padding: 2px;
    border-radius: 25px;
    text-align: center;
    max-width: 160px;    
    min-width: 160px;    
    width: 160px;    
    color: #fff;    
    cursor: pointer;
    font-size: 13px;
    opacity: 1;
    float: right;
}
table.search-result-table div.button > div:first-child {
    font-weight: bold;    
}

table.search-result-table div.button:hover {
    background-color: #009240;
    -webkit-transition: 0.7s;
    transition: all 0.7s;        
}
table.search-result-table div.button:hover div {
    color: #fff;
}

table.search-result-table div.button.question {
    max-width: 28px;    
    min-width: 28px;    
    width: 28px;    
    margin: 10px;
}

div.button.close {
    color: #009240;
    width: 30px;
    cursor: pointer;
    float: right;
    opacity: 1;
    text-shadow: 1px 0px 1px #8bd8a9;
}
/*
    Дополнительная таблица в результате поиска билетов
*/
.reis-detail span {
    margin-right: 10px;
}
.reis-detail span.point.coord {
    cursor: pointer;
    color: #009240;
    opacity: 0.8;
    text-decoration: underline;
}
.reis-detail span.point.coord:hover {
    cursor: pointer;
    color: #009240;
    opacity: 1;
    text-decoration: none;
}
.reis-detail span.point-date {
    font-weight: bold;
}
.reis-detail span.point-time {
    color: #999;
    padding-right: 5px;
}

/* 
    левая сторона 
*/
div.reis-detail-left {
    padding-left: 20px;
 }
/*
    линия маршрута
*/
div.reis-detail-left div.path-line {
    background: #009240;
    height: calc(100% - 20px);
    position: absolute;
    width: 2px;
    top: 10px;
    left: 8px;
}

div.reis-detail-left div.path-point {
    position: relative;
}
div.reis-detail-left div.path-point:nth-child(2)::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 15px solid #009240;
    border-bottom: none;
    content: "";
    margin: 0 0 0 -18px;
    top: 5px;
    position: absolute;
    width: 0;
    height: 0;
    background: none;
    border-radius: 3px;
}
div.reis-detail-left div.path-point:before {
    content: "";
    position: absolute;
    top: 4px;
    margin: 0 0 0 -17px;
    width: 12px;
    height: 12px;
    background: #171717;
    border: 2px solid #009240;
    border-radius: 50%;
}
div.reis-detail-left div.path-point:last-child::before {
    content: "";
    position: absolute;
    bottom: 4px;
    margin: 0 0 0 -17px;
    width: 12px;
    height: 12px;
    background: #009240;
    border-radius: 50%;
    top: unset;
}

div.reis-detail-left span.city.selected-point {
    color: #009240;
    font-weight: bold;
}
div.reis-detail-left span.point.selected-point {
    color: #009240;    
}

/* 
    правая сторона 
*/
div.reis-detail-right {    
    padding-right:0;    
    padding-left:0;    
}

div.reis-detail-right .point-label {    
    display: inline-block;
    font-weight: bold;
}

div.reis-detail-right div#ymaps {
    min-height: 350px;
    width: 100%;
    border: 1px #0b7138;
    border-style: dashed;
    margin-top: 10px;
}

table.search-result-table h3 {
    text-transform: none;
    margin: 10px;
}

.search-result-table h4 {
    color: #009240 !important;
    padding: 0;
    margin: 0 !important;
}
.search-result-table h4.error {
    color: #dc3545 !important;
}

input[type="checkbox"].check-point {
    margin-right: 5px;
    border: none;
}

.padding-left-0 {
    padding-left:0 !important;
}

