h2 {
  font-size: 24px !important;
  line-height: 24px !important;
  font-weight: normal !important;
}

article h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 20px;
  line-height: 26px;
  height: 64px;
}

.meta {
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
  padding: 10px 0;
  width: 100%;
  font-size: 13px;
  margin-top: 30px;
}

p.excerpt-blog {
  height: 84px;
}

.col-md-12.news-wrap {
  display: flex;
  align-items: flex-start;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
}

article.news-item {
  flex-basis: 33%;
  width: 33%;
  margin-bottom: 26px;
}

article.news-item figure {
  height: 230px;
  margin-bottom: 15px;
}

.news-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-item-link a {
  color: #ccc;
  transition: all 0.3s;
  padding-top: 20px;
}

.news-item-link a:hover {
  color: #009240;
}

/*  Pagination  */
body .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

body .pagination>li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

body .pagination li a {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 15px;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}

body .pagination.news-detail li a {
  width: auto;
  padding: 10px;
}

body .pagination.news-detail li:first-child a, body .pagination.news-detail li:last-child a {
  width: 200px;
}

body .pagination.news-detail li:first-child a i {
  margin-right: 10px;
}

body .pagination.news-detail li:last-child a i {
  margin-left: 10px;
}

body .pagination li a:hover, body .pagination li.active a, body .pagination li.active a:hover {
  background: #009240;
  color: #000;
  border: 1px solid #ddd;
}

body .pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
