div.button.add,
div.button.payment,
div.button.trash,
div.button.info,
div.button.error,
div.button.print,
div.button.question,
div.button.close {
    border: 2px solid #009240;
    padding: 2px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    opacity: 1;
    float: right;
    height: 25px;    
    margin: 10px;
        max-width: 25px;    
        min-width: 25px;    
        width: 25px;        
}

div.button.trash {
    border: 2px solid #a81010; 
    position: absolute;
}
div.button.print {
    position: absolute;
    right: 5px;
    bottom: 15px;
}
div.button.info {
    border: 2px solid #485889;
    margin-top: auto;
    right: 24px;
    position: absolute;    
}

.point-label {
    display: inline-block;
    min-width: 100px;
}

@media(max-width:3840px) {
    table.search-result-table > tbody > tr > td.tpl-path {    
        vertical-align: middle;
    }    
    table.search-result-table > tbody > tr > td.tpl {    
    }    
    li.ticket-data {
        list-style: inside square;
        color: #999;
    }
    div.button.trash {
        left: 5px;
        right: unset;
        max-width: 25px;    
        min-width: 25px;    
        width: 25px;    
        bottom: 15px;
        position: absolute;
    }    
    .custom-button.trash {
        margin-right: 50px;
        background-color: #831700;
    }
    .custom-button.trash:hover {
        background-color: #831700;
        opacity: .85;
    }        
}

@media(max-width:770px) {
    table.search-result-table > tbody > tr > td.tpl-path {    
        display: block;
        vertical-align: middle;
    }    
    table.search-result-table > tbody > tr > td.tpl {
        display: inline-block;
        width: 100%;
    }    
        
    .mobile-label, .point-label {
        padding-right: 5px;
        min-width: 125px;
    }
    li.ticket-data {
        list-style: inside none;
        color: whitesmoke;
        padding-top: 5px;    
    }
    table.search-result-table tr.tickets-result td {
        display: block;
        width: 100%;
        padding-bottom: 0;
        text-align: left;
    }
    div.button.trash {
        left: unset;
        right: unset;
        max-width: 130px;    
        min-width: 130px;    
        width: 130px;        
        bottom: 0;
        position: unset;
    }    
    .custom-button.trash {
        margin-right: 0;
        background-color: #831700;
    }
    
    .custom-button.credit-card {
        margin-bottom: 50px;        
        margin-to: 50px;        
    }    
}

/*
    Таблица - результат поиска билетов
*/
table.search-result-table {
    color: whitesmoke;
    border-collapse: collapse;
}
.table.search-result-table > thead th {    
    font-weight: lighter;
    color: #999;
    background-color: #292929;
}
.table.search-result-table > tbody.active {
    outline: 2px solid darkolivegreen;  
    outline-offset: -2px;
    background-color: #111;
    opacity: 0.85;
}
table.search-result-table tbody {
    background-color: transparent;
}
table.search-result-table .point {
    font-weight: normal;
    color: #999;
}    
table.condensed td,
table.condensed th
{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

div.button.question:hover,
div.button.close:hover,
div.button.add:hover,
div.button.print:hover {
    background-color: #009240;
    -webkit-transition: 0.7s;
    transition: all 0.7s;
}
#help li {
    padding-bottom: 15px;
}
div.button.add {
    margin-top: auto;
    right: -10px;
    position: absolute;
}
div.button.payment {
    border: 2px solid #485889;
    left: 60px;
    position: absolute;    
    bottom: 15px;
}
div.button.error {
    border: 2px solid #a81010;
    position: absolute;
    right: -20px;
    bottom: 15px;
    padding: 1px;
}
div.button.trash:hover, 
div.button.error:hover {
    background-color: #a81010;
    -webkit-transition: 0.7s;
    transition: all 0.7s;
}
div.button.info:hover,
div.button.payment:hover {
    background-color: #485889;
    -webkit-transition: 0.7s;
    transition: all 0.7s;
}

/*
    Таблица пассажиров
*/
.table.condensed,
.table.condensed tbody {
    background-color: transparent !important;
}
.table.condensed td {
    position: relative;
}

.table.search-result-table h3 {    
    text-transform: none !important;
    margin: 0 !important;
}
.search-result-table h4 {
    color: #009240 !important;
    padding: 0;
    margin: 0 !important;
}
.search-result-table h5.error {
    color: #dc3545;
}

.center {
    text-align: center;
}

.buttons-container {
    width: 70px
}

span.status.reserved {
    color: #f9f973;
    font-weight: bold;
}
span.status.sold {
    color: #00a847;
    font-weight: bold;
}
